@charset "UTF-8";
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium-webfont.eot?1460134618');
  src: url('../fonts/raleway-medium-webfont.eot?&1460134618#iefix') format("embedded-opentype"), url('../fonts/raleway-medium-webfont.woff2?1460134618') format("woff2"), url('../fonts/raleway-medium-webfont.woff?1460134618') format("woff"), url('../fonts/raleway-medium-webfont.ttf?1460134618') format("truetype"), url('../fonts/raleway-medium-webfont.svg?1460134618#ralewaymedium') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.eot?1460142204');
  src: url('../fonts/raleway-bold-webfont.eot?&1460142204#iefix') format("embedded-opentype"), url('../fonts/raleway-bold-webfont.woff2?1460142204') format("woff2"), url('../fonts/raleway-bold-webfont.woff?1460142204') format("woff"), url('../fonts/raleway-bold-webfont.ttf?1460142204') format("truetype"), url('../fonts/raleway-bold-webfont.svg?1460142204#ralewaybold') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.eot?1460223172');
  src: url('../fonts/raleway-regular-webfont.eot?&1460223172#iefix') format("embedded-opentype"), url('../fonts/raleway-regular-webfont.woff2?1460223172') format("woff2"), url('../fonts/raleway-regular-webfont.woff?1460223172') format("woff"), url('../fonts/raleway-regular-webfont.ttf?1460223172') format("truetype"), url('../fonts/raleway-regular-webfont.svg?1460223172#ralewayregular') format("svg");
  font-weight: normal;
  font-style: normal; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* line 1, ../scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 1, ../scss/partials/_normalize.scss */
body {
  margin: 0; }

/* line 1, ../scss/partials/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../scss/partials/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 1, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 1, ../scss/partials/_normalize.scss */
[hidden], template {
  display: none; }

/* line 1, ../scss/partials/_normalize.scss */
a {
  background-color: transparent; }

/* line 1, ../scss/partials/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 1, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 1, ../scss/partials/_normalize.scss */
b, strong {
  font-weight: 700; }

/* line 1, ../scss/partials/_normalize.scss */
dfn {
  font-style: italic; }

/* line 1, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* line 1, ../scss/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 1, ../scss/partials/_normalize.scss */
small {
  font-size: 80%; }

/* line 1, ../scss/partials/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 1, ../scss/partials/_normalize.scss */
sup {
  top: -.5em; }

/* line 1, ../scss/partials/_normalize.scss */
sub {
  bottom: -.25em; }

/* line 1, ../scss/partials/_normalize.scss */
img {
  border: 0; }

/* line 1, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 1, ../scss/partials/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 1, ../scss/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 1, ../scss/partials/_normalize.scss */
pre {
  overflow: auto; }

/* line 1, ../scss/partials/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

/* line 1, ../scss/partials/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 1, ../scss/partials/_normalize.scss */
button {
  overflow: visible; }

/* line 1, ../scss/partials/_normalize.scss */
button, select {
  text-transform: none; }

/* line 1, ../scss/partials/_normalize.scss */
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 1, ../scss/partials/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 1, ../scss/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
input {
  line-height: normal; }

/* line 1, ../scss/partials/_normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

/* line 1, ../scss/partials/_normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 1, ../scss/partials/_normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 1, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/* line 1, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto; }

/* line 1, ../scss/partials/_normalize.scss */
optgroup {
  font-weight: 700; }

/* line 1, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../scss/partials/_normalize.scss */
td, th {
  padding: 0; }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 3, ../scss/partials/_base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1; }

/* line 9, ../scss/partials/_base.scss */
html,
html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, ../scss/partials/_base.scss */
body {
  font-family: "Kozuka Gothic Pr6N", "Kozuka Gothic Pro", "メイリオ", Meiryo, "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #555;
  font-weight: 400; }

/* line 22, ../scss/partials/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 27, ../scss/partials/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 32, ../scss/partials/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 41, ../scss/partials/_base.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* line 50, ../scss/partials/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 56, ../scss/partials/_base.scss */
textarea {
  resize: vertical; }

/* line 60, ../scss/partials/_base.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 83, ../scss/partials/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 88, ../scss/partials/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 99, ../scss/partials/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 109, ../scss/partials/_base.scss */
.invisible {
  visibility: hidden; }

/* line 113, ../scss/partials/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 119, ../scss/partials/_base.scss */
.clearfix:after {
  clear: both; }

/* line 123, ../scss/partials/_base.scss */
.clearfix {
  *zoom: 1; }

/* line 127, ../scss/partials/_base.scss */
.fl {
  float: left; }

/* line 131, ../scss/partials/_base.scss */
.fr {
  float: right; }

/* line 135, ../scss/partials/_base.scss */
.clear, .list-menu:after, .nav:after, .company-item:after {
  clear: both;
  display: block;
  content: ''; }

/* line 141, ../scss/partials/_base.scss */
.center {
  text-align: center; }

/* line 145, ../scss/partials/_base.scss */
.list-unstyled, .list-menu, .nav {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 154, ../scss/partials/_base.scss */
.list-menu li, .nav li {
  float: left;
  line-height: 1; }
/* line 163, ../scss/partials/_base.scss */
.list-menu a, .nav a {
  display: block; }

/* line 168, ../scss/partials/_base.scss */
a {
  text-decoration: none;
  color: #f4619f;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  /* line 173, ../scss/partials/_base.scss */
  a:hover, .active a {
    color: #555; }

/* line 179, ../scss/partials/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 184, ../scss/partials/_base.scss */
.full-bg, .bg-before:before, .banner-content h1:before, .checked-list li:before, #service:before, #customer:before, #faq:before, .faq-question:before,
.faq-answer:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

/* line 195, ../scss/partials/_base.scss */
.bg-before {
  position: relative; }

/* line 205, ../scss/partials/_base.scss */
.list-remove-style {
  padding: 0;
  margin: 0;
  list-style: none; }

/* ==========================================================================
   Print styles
   ========================================================================== */
/* line 1, ../scss/partials/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  margin: 0 0 30px;
  font-weight: 500; }

/* line 7, ../scss/partials/_typo.scss */
.sub {
  color: #f4619f; }

/* line 11, ../scss/partials/_typo.scss */
h2 {
  font-size: 30px; }

/* line 15, ../scss/partials/_typo.scss */
h3 {
  font-size: 24px;
  margin: 0 0 25px; }

/* line 20, ../scss/partials/_typo.scss */
h4 {
  font-size: 18px; }

/* line 24, ../scss/partials/_typo.scss */
h5 {
  font-size: 16px; }

/* line 28, ../scss/partials/_typo.scss */
h6 {
  font-size: 12px; }

/* line 32, ../scss/partials/_typo.scss */
p {
  margin: 0 0 25px;
  line-height: 1.7; }

/* line 37, ../scss/partials/_typo.scss */
.section-title {
  text-align: center;
  margin: 0 0 40px; }
  /* line 41, ../scss/partials/_typo.scss */
  .section-title h2, .section-title h3, .section-title h6 {
    font-weight: 400; }
  /* line 45, ../scss/partials/_typo.scss */
  .section-title h3 {
    margin: 0 0 10px; }
  /* line 49, ../scss/partials/_typo.scss */
  .section-title h2 {
    margin: 0 0 10px; }
  /* line 53, ../scss/partials/_typo.scss */
  .section-title h6 {
    font-family: "ralewaymedium", "Kozuka Gothic Pr6N", sans-serif;
    color: #f4619f;
    margin: 0 0 7px;
    letter-spacing: 2px; }
  /* line 60, ../scss/partials/_typo.scss */
  .section-dark .section-title {
    color: #fff; }
  /* line 64, ../scss/partials/_typo.scss */
  .section-title.style2 {
    font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif; }
    /* line 67, ../scss/partials/_typo.scss */
    .section-title.style2 h2 {
      font-size: 36px; }

/* line 73, ../scss/partials/_typo.scss */
.title-border {
  overflow: hidden;
  max-width: 522px;
  margin: 0 auto;
  display: block; }

/* line 80, ../scss/partials/_typo.scss */
.circle {
  width: 5px;
  height: 5px;
  background: #f4619f;
  position: relative;
  margin: 0 auto;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  /* line 90, ../scss/partials/_typo.scss */
  .circle:before, .circle:after {
    content: "";
    display: block;
    position: absolute;
    width: 500px;
    height: 1px;
    top: 50%;
    background: #ccc; }
  /* line 101, ../scss/partials/_typo.scss */
  .circle:before {
    left: -100%;
    margin-left: 15px; }
  /* line 106, ../scss/partials/_typo.scss */
  .circle:after {
    right: -100%;
    margin-right: 15px; }

/* line 1, ../scss/partials/_icons.scss */
.icon-build {
  background-image: url('../img/sprite-s87f83556a4.png') !important;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 75px;
  width: 74px;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -36.5px;
  left: 50%;
  margin-left: -36px; }

/* line 5, ../scss/partials/_icons.scss */
.icon-city {
  background-image: url('../img/sprite-s87f83556a4.png') !important;
  background-position: 0 -46px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 72px;
  width: 74px;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -36px; }

/* line 9, ../scss/partials/_icons.scss */
.icon-apart {
  background-image: url('../img/sprite-s87f83556a4.png') !important;
  background-position: 0 -193px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 75px;
  width: 64px;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -36.5px;
  left: 50%;
  margin-left: -31px; }

/* line 13, ../scss/partials/_icons.scss */
.circle-braid {
  width: 100px;
  height: 100px;
  border: 1px dashed #f4619f;
  position: relative;
  color: #fff;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* line 24, ../scss/partials/_icons.scss */
.braid-content {
  display: block;
  width: 90px;
  height: 90px;
  background: #f4619f;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* line 38, ../scss/partials/_icons.scss */
.braid-label {
  line-height: 0;
  display: block;
  font-size: 60px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -5px;
  font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif; }

/* line 1, ../scss/partials/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 7, ../scss/partials/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/* line 26, ../scss/partials/_forms.scss */
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/* line 35, ../scss/partials/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="submit"],
select {
  height: 50px;
  background: #fff;
  border: 1px solid #888;
  padding: 0 10px;
  width: 100%; }

/* line 49, ../scss/partials/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

/* line 54, ../scss/partials/_forms.scss */
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */ }

/* line 61, ../scss/partials/_forms.scss */
.search_wrapper input[type="search"] {
  margin-bottom: 15px; }

/* line 66, ../scss/partials/_forms.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -moz-appearance: none;
  -webkit-appearance: none; }

/* line 72, ../scss/partials/_forms.scss */
textarea,
.privacy-container {
  background: #fff;
  border: 1px solid #555;
  min-height: 160px;
  width: 100%;
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */ }

/* line 84, ../scss/partials/_forms.scss */
label {
  font-size: 16px;
  margin-bottom: 13px;
  display: block; }

/* line 90, ../scss/partials/_forms.scss */
.input-field {
  display: block;
  padding: 5px 0; }
  /* line 94, ../scss/partials/_forms.scss */
  .input-field:after {
    display: block;
    content: "";
    clear: both; }
  /* line 100, ../scss/partials/_forms.scss */
  .input-field label {
    margin-right: -180px;
    width: 180px;
    float: left;
    padding: 15px 25px 0 0;
    line-height: 1.5; }
    /* line 107, ../scss/partials/_forms.scss */
    .input-field label span {
      color: #f4619f; }
  /* line 112, ../scss/partials/_forms.scss */
  .input-field .input-container {
    width: 100%;
    float: right;
    padding-left: 180px; }

/* line 122, ../scss/partials/_forms.scss */
.input-privacy {
  max-width: 780px;
  margin: 45px auto 0;
  text-align: center; }

/* line 128, ../scss/partials/_forms.scss */
.privacy-container {
  text-align: left;
  min-height: 0;
  height: 130px;
  overflow: auto; }

/* line 135, ../scss/partials/_forms.scss */
.input-checkbox {
  margin: 20px 0 0; }
  /* line 138, ../scss/partials/_forms.scss */
  .input-checkbox input[type="checkbox"],
  .input-checkbox label {
    display: inline-block;
    vertical-align: middle; }
  /* line 144, ../scss/partials/_forms.scss */
  .input-checkbox label {
    margin: 0 0 5px; }
  /* line 148, ../scss/partials/_forms.scss */
  .input-checkbox input[type="checkbox"] {
    margin-right: 20px;
    width: 18px;
    height: 18px; }

/* line 155, ../scss/partials/_forms.scss */
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  overflow: hidden;
  display: block;
  height: 56px;
  width: 214px;
  border: none;
  margin: 45px auto 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #f4619f;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  /* line 179, ../scss/partials/_forms.scss */
  input[type="submit"]:hover {
    background: #555; }

/* line 1, ../scss/partials/_layout.scss */
.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

/* line 8, ../scss/partials/_layout.scss */
.section-wrapper {
  padding: 100px 0; }

/* line 12, ../scss/partials/_layout.scss */
.section-dark {
  background-color: #000; }

/* line 16, ../scss/partials/_layout.scss */
.section-gray {
  background: #f3f3f3;
  border-bottom: 1px solid #bbb; }

/* line 21, ../scss/partials/_layout.scss */
.row {
  margin: 0 -10px; }

/* line 25, ../scss/partials/_layout.scss */
[class*='span-'] {
  padding: 0 10px;
  float: left;
  display: block; }

/* line 31, ../scss/partials/_layout.scss */
.span-1 {
  width: 8.33333333333%; }

/* line 34, ../scss/partials/_layout.scss */
.span-2 {
  width: 16.6666666667%; }

/* line 37, ../scss/partials/_layout.scss */
.span-3 {
  width: 25.0%; }

/* line 40, ../scss/partials/_layout.scss */
.span-4 {
  width: 33.3333333333%; }

/* line 43, ../scss/partials/_layout.scss */
.span-5 {
  width: 41.6666666667%; }

/* line 46, ../scss/partials/_layout.scss */
.span-6 {
  width: 50.0%; }

/* line 49, ../scss/partials/_layout.scss */
.span-7 {
  width: 58.3333333333%; }

/* line 52, ../scss/partials/_layout.scss */
.span-8 {
  width: 66.6666666667%; }

/* line 55, ../scss/partials/_layout.scss */
.span-9 {
  width: 75.0%; }

/* line 58, ../scss/partials/_layout.scss */
.span-10 {
  width: 83.3333333333%; }

/* line 61, ../scss/partials/_layout.scss */
.span-11 {
  width: 91.6666666667%; }

/* line 64, ../scss/partials/_layout.scss */
.span-12 {
  float: none;
  width: 100%; }

/* line 1, ../scss/partials/_header.scss */
.site-header {
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  z-index: 999;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  /* line 8, ../scss/partials/_header.scss */
  .site-header.active-fixed {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff; }

/* line 17, ../scss/partials/_header.scss */
.header-branding {
  max-width: 230px;
  float: left; }

/* line 22, ../scss/partials/_header.scss */
.header-nav {
  float: right;
  padding-top: 20px; }

/* line 27, ../scss/partials/_header.scss */
.site-logo {
  margin: 0;
  line-height: 1; }
  /* line 31, ../scss/partials/_header.scss */
  .site-logo img,
  .site-logo a {
    display: block; }
  /* line 36, ../scss/partials/_header.scss */
  .site-logo a {
    padding: 35px 0 10px; }

/* line 41, ../scss/partials/_header.scss */
.btn-mail {
  display: block;
  float: right;
  clear: both;
  background: #f4619f;
  color: #fff;
  padding: 10px 28px 10px 12px;
  line-height: 1;
  position: relative;
  margin: 0 0 4px;
  -moz-box-shadow: 1px 1px 1px 1px rgba(123, 0, 70, 0.75);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(123, 0, 70, 0.75);
  box-shadow: 1px 1px 1px 1px rgba(123, 0, 70, 0.75); }
  /* line 52, ../scss/partials/_header.scss */
  .btn-mail:before {
    background-image: url('../img/sprite-s87f83556a4.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: 12px;
    width: 18px;
    content: "";
    margin-right: 12px;
    vertical-align: middle; }
  /* line 61, ../scss/partials/_header.scss */
  .btn-mail:hover {
    color: #fff;
    background: #555;
    -moz-box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.75);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.75); }

/* line 5, ../scss/partials/_navigations.scss */
.nav a {
  color: #555;
  padding: 14px 11px;
  display: inline-block; }
  /* line 10, ../scss/partials/_navigations.scss */
  .nav a:hover, .nav a.active {
    color: #f4619f; }
/* line 18, ../scss/partials/_navigations.scss */
.nav li:before {
  content: "/";
  vertical-align: middle;
  display: inline-block; }
/* line 26, ../scss/partials/_navigations.scss */
.nav li:last-child:after {
  content: "/"; }

/* line 35, ../scss/partials/_navigations.scss */
.site-footer .nav {
  padding-left: 1px; }
  /* line 38, ../scss/partials/_navigations.scss */
  .site-footer .nav li {
    padding: 0 9px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    margin: 0 0 13px -1px;
    font-size: 12px; }
    /* line 45, ../scss/partials/_navigations.scss */
    .site-footer .nav li:last-child {
      border-right: none; }
    /* line 49, ../scss/partials/_navigations.scss */
    .site-footer .nav li:before, .site-footer .nav li:after {
      display: none !important; }

/* line 58, ../scss/partials/_navigations.scss */
.copyright {
  margin: 60px 0 0;
  color: #888;
  background: #000;
  text-align: center;
  font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif;
  padding: 23px 10px; }

/* line 1, ../scss/partials/_contents.scss */
#main-banner {
  background-image: url('../img/bg-banner.png?1460188812');
  padding: 75px 0 140px;
  text-align: center; }

/* line 10, ../scss/partials/_contents.scss */
.banner-content h2 {
  font-weight: 700;
  text-shadow: 0px 0px 17px white; }
/* line 15, ../scss/partials/_contents.scss */
.banner-content h1 {
  position: relative;
  z-index: 1;
  font-size: 47px;
  color: #fff;
  max-width: 666px;
  margin: 0 auto;
  font-weight: 700;
  padding: 12px 10px; }
  /* line 25, ../scss/partials/_contents.scss */
  .banner-content h1:before {
    background: #000;
    z-index: -1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75; }

/* line 34, ../scss/partials/_contents.scss */
.checked-list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0; }
  /* line 39, ../scss/partials/_contents.scss */
  .checked-list li {
    display: block;
    margin: 0 auto 10px;
    max-width: 500px;
    width: 100%;
    position: relative;
    font-size: 24px;
    color: #fff;
    padding: 12px 30px 12px 60px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    /* line 51, ../scss/partials/_contents.scss */
    .checked-list li:before {
      background: #f4619f;
      z-index: -1;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
      opacity: 0.75; }
    /* line 58, ../scss/partials/_contents.scss */
    .checked-list li:after {
      background-image: url('../img/sprite-s87f83556a4.png') !important;
      background-position: -18px 0;
      background-repeat: no-repeat;
      overflow: hidden;
      display: block;
      height: 46px;
      width: 53px;
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -23px;
      left: 4px; }

/* line 65, ../scss/partials/_contents.scss */
#map-basic,
#map-street {
  display: block;
  height: 350px;
  width: 50%;
  float: left; }

/* line 75, ../scss/partials/_contents.scss */
#concept {
  padding: 80px 0 150px; }

/* line 82, ../scss/partials/_contents.scss */
#service {
  background-image: url('../img/house.png?1460166417'); }
  /* line 85, ../scss/partials/_contents.scss */
  #service:before {
    background: url('../img/bg-squared.png?1460166352'); }
  /* line 90, ../scss/partials/_contents.scss */
  #service .service-title {
    color: #f4619f;
    margin: 0 0 15px; }

/* line 96, ../scss/partials/_contents.scss */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  /* line 103, ../scss/partials/_contents.scss */
  .parallax .container {
    position: relative;
    z-index: 5; }

/* line 109, ../scss/partials/_contents.scss */
.service-item {
  border: 1px solid #f4619f;
  background: #fff;
  min-height: 752px;
  padding: 30px 14px 5px; }

/* line 116, ../scss/partials/_contents.scss */
.service-icon {
  background: #f4619f;
  width: 139px;
  height: 139px;
  margin: 0 auto 25px;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* line 129, ../scss/partials/_contents.scss */
#reason {
  padding: 120px 0 50px; }

/* line 135, ../scss/partials/_contents.scss */
.reason-item {
  padding: 40px 0 30px; }
  /* line 138, ../scss/partials/_contents.scss */
  .reason-item:last-child {
    padding-bottom: 0; }
  /* line 142, ../scss/partials/_contents.scss */
  .reason-item .circle-braid {
    float: left;
    margin-right: -100px;
    background: none; }

/* line 149, ../scss/partials/_contents.scss */
.reason-content {
  float: right;
  padding-top: 10px;
  padding-left: 125px;
  width: 100%; }

/* line 156, ../scss/partials/_contents.scss */
.reason-desc {
  width: 54.491018%;
  float: left;
  padding-right: 35px; }

/* line 162, ../scss/partials/_contents.scss */
.reason-image {
  width: 45.508982%;
  float: right; }

/* line 169, ../scss/partials/_contents.scss */
.reverse .circle-braid {
  float: right;
  margin: 0 0 0 -100px; }
/* line 174, ../scss/partials/_contents.scss */
.reverse .reason-content {
  padding: 10px 125px 0 0;
  float: left; }
/* line 179, ../scss/partials/_contents.scss */
.reverse .reason-desc {
  float: right;
  padding: 0 0 0 35px; }

/* line 187, ../scss/partials/_contents.scss */
.staff-items {
  padding: 30px 0 0; }

/* line 191, ../scss/partials/_contents.scss */
.staff-item {
  text-align: center;
  color: #888;
  font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif; }
  /* line 196, ../scss/partials/_contents.scss */
  .staff-item img {
    display: block;
    margin: 0 0 15px; }

/* line 202, ../scss/partials/_contents.scss */
.staff-title {
  margin: 0; }
  /* line 206, ../scss/partials/_contents.scss */
  .staff-title:after {
    height: 1px;
    margin: 7px auto;
    display: block;
    content: "";
    max-width: 235px;
    width: 100%;
    background: #f4619f; }

/* line 219, ../scss/partials/_contents.scss */
#customer {
  border-top: 2px solid #f4619f;
  border-bottom: 2px solid #f4619f;
  background-image: url('../img/bg-city.png?1460166570'); }
  /* line 224, ../scss/partials/_contents.scss */
  #customer:before {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

/* line 232, ../scss/partials/_contents.scss */
.customer-item {
  padding: 30px 25px 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin: 20px 0 0; }

/* line 239, ../scss/partials/_contents.scss */
.customer-title {
  margin: 0 0 25px; }

/* line 245, ../scss/partials/_contents.scss */
.flow-items {
  padding: 40px 0 0; }

/* line 249, ../scss/partials/_contents.scss */
.flow-item {
  padding: 0 0 125px;
  overflow: hidden; }
  /* line 253, ../scss/partials/_contents.scss */
  .flow-item h3 {
    margin: 0 0 20px; }
  /* line 257, ../scss/partials/_contents.scss */
  .flow-item .circle-braid {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: -125px; }
    /* line 263, ../scss/partials/_contents.scss */
    .flow-item .circle-braid:before {
      content: "";
      display: block;
      background: #f4619f;
      width: 1px;
      left: 50%;
      margin: 10px 0 0 -0.5px;
      position: absolute;
      height: 999%;
      z-index: -1; }
  /* line 278, ../scss/partials/_contents.scss */
  .flow-item:last-child .circle-braid:before {
    display: none; }
  /* line 283, ../scss/partials/_contents.scss */
  .flow-item .braid-content {
    width: 112px;
    height: 112px;
    margin: -56px 0 0 -56px;
    text-align: center;
    display: table;
    line-height: 1; }
    /* line 291, ../scss/partials/_contents.scss */
    .flow-item .braid-content .bg,
    .flow-item .braid-content strong {
      display: block; }
    /* line 296, ../scss/partials/_contents.scss */
    .flow-item .braid-content .big {
      font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif;
      font-size: 30px; }
    /* line 301, ../scss/partials/_contents.scss */
    .flow-item .braid-content strong {
      font-family: "ralewaybold", "Kozuka Gothic Pr6N", sans-serif;
      font-weight: 400;
      font-size: 48px; }

/* line 311, ../scss/partials/_contents.scss */
.flow-content {
  padding: 12px 0 0 150px; }

/* line 315, ../scss/partials/_contents.scss */
.braid-flow {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

/* line 324, ../scss/partials/_contents.scss */
#faq {
  background-image: url('../img/bg-skybuild.png?1460166618'); }
  /* line 327, ../scss/partials/_contents.scss */
  #faq:before {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

/* line 334, ../scss/partials/_contents.scss */
.faq-items {
  padding: 40px 0 0; }

/* line 338, ../scss/partials/_contents.scss */
.faq-question,
.faq-answer {
  margin: 0 0 10px;
  position: relative; }
  /* line 343, ../scss/partials/_contents.scss */
  .faq-question:before,
  .faq-answer:before {
    background: #ff92c0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    z-index: -1; }

/* line 352, ../scss/partials/_contents.scss */
.faq-question {
  position: relative;
  padding: 0 15px 0 65px;
  cursor: pointer; }
  /* line 357, ../scss/partials/_contents.scss */
  .faq-question p {
    font-size: 16px;
    color: #fff;
    padding: 11px;
    margin: 0; }

/* line 367, ../scss/partials/_contents.scss */
.plus {
  display: block;
  position: absolute;
  background: #f4619f;
  left: 0;
  height: 100%;
  width: 50px;
  top: 0; }
  /* line 376, ../scss/partials/_contents.scss */
  .plus:before, .plus:after {
    position: absolute;
    background: #fff;
    content: "";
    top: 50%;
    left: 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; }
  /* line 387, ../scss/partials/_contents.scss */
  .plus:before {
    height: 4px;
    width: 18px;
    margin: -2px 0 0 -9px; }
  /* line 393, ../scss/partials/_contents.scss */
  .plus:after {
    width: 4px;
    height: 18px;
    margin: -9px 0 0 -2px; }
  /* line 400, ../scss/partials/_contents.scss */
  .toggle-active .plus:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

/* line 406, ../scss/partials/_contents.scss */
.faq-answer {
  padding: 20px;
  color: #000;
  min-height: 178px;
  display: none; }

/* line 417, ../scss/partials/_contents.scss */
#contact {
  background: #f3f3f3;
  border-top: 2px solid #f4619f;
  border-bottom: 2px solid #f4619f; }

/* line 425, ../scss/partials/_contents.scss */
.company-items {
  margin: 100px 0 75px; }

/* line 429, ../scss/partials/_contents.scss */
.company-item {
  border-top: 1px solid #ccc; }
  /* line 432, ../scss/partials/_contents.scss */
  .company-item:last-child {
    border-bottom: 1px solid #ccc; }

/* line 441, ../scss/partials/_contents.scss */
.company-label,
.company-desc {
  float: left;
  padding: 18px 0; }

/* line 447, ../scss/partials/_contents.scss */
.company-label {
  width: 135px;
  margin-right: -135px;
  padding-left: 25px; }

/* line 453, ../scss/partials/_contents.scss */
.company-desc {
  padding-left: 135px;
  width: 100%; }

/* line 458, ../scss/partials/_contents.scss */
.map-container {
  margin: 0 0 30px; }

/* line 464, ../scss/partials/_contents.scss */
.banner-item img {
  display: block;
  width: 100%; }

/* line 470, ../scss/partials/_contents.scss */
.banner-title {
  text-align: center;
  font-family: "ralewayregular", "Kozuka Gothic Pr6N", sans-serif;
  padding: 15px 0 0;
  margin: 0; }
  /* line 476, ../scss/partials/_contents.scss */
  .banner-title:after {
    height: 1px;
    background: #ccc;
    width: 100%;
    content: "";
    display: block;
    max-width: 220px;
    margin: 3px auto; }

/* line 487, ../scss/partials/_contents.scss */
.wpb_gmaps_widget .wpb_map_wraper,
.sp_maps_container .google-maps-basic,
.sp_maps_container .google-maps-streetview {
  pointer-events: none; }

/* line 492, ../scss/partials/_contents.scss */
.wpb_gmaps_widget,
.sp_maps_container {
  cursor: pointer; }

/* line 497, ../scss/partials/_contents.scss */
.wpb_gmaps_widget.active-map,
.sp_maps_container.active-map {
  cursor: auto; }

/* line 502, ../scss/partials/_contents.scss */
.wpb_gmaps_widget.active-map .wpb_map_wraper,
.sp_maps_container.active-map .google-maps-basic,
.sp_maps_container.active-map .google-maps-streetview {
  pointer-events: auto; }

@media only screen and (max-width: 980px) {
  /* line 2, ../scss/media/_tablet.scss */
  .site-header {
    height: 50px;
    position: relative; }
    /* line 6, ../scss/media/_tablet.scss */
    .site-header .container {
      position: fixed;
      z-index: 998;
      height: 100%;
      width: 270px;
      top: 0;
      left: -270px;
      background: #fff;
      border-right: 2px solid #f4619f;
      text-align: center;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    /* line 21, ../scss/media/_tablet.scss */
    .site-header.active-menu .container {
      left: 0; }

  /* line 26, ../scss/media/_tablet.scss */
  .mobile-trigger {
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    background: #f4619f;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    /* line 35, ../scss/media/_tablet.scss */
    .active-menu .mobile-trigger {
      left: 270px; }
    /* line 39, ../scss/media/_tablet.scss */
    .mobile-trigger .burger {
      position: absolute;
      width: 80%;
      height: 30px;
      top: 50%;
      left: 10%;
      margin-top: -15px; }
    /* line 48, ../scss/media/_tablet.scss */
    .mobile-trigger span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    /* line 67, ../scss/media/_tablet.scss */
    .mobile-trigger span:nth-child(1) {
      top: 0px; }
    /* line 71, ../scss/media/_tablet.scss */
    .mobile-trigger span:nth-child(2) {
      top: 12px; }
    /* line 75, ../scss/media/_tablet.scss */
    .mobile-trigger span:nth-child(3) {
      top: 24px; }
    /* line 79, ../scss/media/_tablet.scss */
    .active-menu .mobile-trigger span:nth-child(1) {
      top: 12px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    /* line 87, ../scss/media/_tablet.scss */
    .active-menu .mobile-trigger span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    /* line 92, ../scss/media/_tablet.scss */
    .active-menu .mobile-trigger span:nth-child(3) {
      top: 12px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

  /* line 101, ../scss/media/_tablet.scss */
  .header-branding {
    max-width: none;
    display: inline-block;
    float: none; }

  /* line 107, ../scss/media/_tablet.scss */
  .header-nav {
    float: none; }

  /* line 111, ../scss/media/_tablet.scss */
  .btn-mail {
    width: 100%;
    float: none; }

  /* line 116, ../scss/media/_tablet.scss */
  .site-navigation {
    margin-top: 20px; }
    /* line 123, ../scss/media/_tablet.scss */
    .site-navigation li {
      width: 100%;
      float: none; }
      /* line 127, ../scss/media/_tablet.scss */
      .site-navigation li:before, .site-navigation li:after {
        display: none; }
    /* line 133, ../scss/media/_tablet.scss */
    .site-navigation a {
      background: #f4619f;
      color: #fff;
      display: block;
      width: 100%;
      border-bottom: 1px solid #fff; }
      /* line 140, ../scss/media/_tablet.scss */
      .site-navigation a.active {
        background: #000; }

  /* line 146, ../scss/media/_tablet.scss */
  .span-4 {
    width: 100%;
    max-width: 568px;
    float: none;
    margin: 0 auto; }

  /* line 153, ../scss/media/_tablet.scss */
  .service-item {
    margin: 0 0 20px; }

  /* line 159, ../scss/media/_tablet.scss */
  .reason-item .circle-braid {
    margin: 15px; }

  /* line 164, ../scss/media/_tablet.scss */
  .reason-content,
  .reverse .reason-content {
    padding: 0; }

  /* line 169, ../scss/media/_tablet.scss */
  .reason-desc {
    padding-right: 10px; }

  /* line 173, ../scss/media/_tablet.scss */
  .reverse .reason-desc {
    padding-left: 10px; }

  /* line 177, ../scss/media/_tablet.scss */
  .staff-item {
    margin: 0 auto;
    max-width: 305px; }

  /* line 182, ../scss/media/_tablet.scss */
  .banner-item {
    margin: 0 0 20px; }
    /* line 185, ../scss/media/_tablet.scss */
    .banner-item img {
      width: auto;
      margin: 0 auto; }

  /* line 191, ../scss/media/_tablet.scss */
  #main-banner {
    padding: 70px 0; }

  /* line 195, ../scss/media/_tablet.scss */
  .flow-item {
    padding: 0 0 30px; }
    /* line 198, ../scss/media/_tablet.scss */
    .flow-item .circle-braid {
      float: none;
      margin: 0 auto; }
      /* line 202, ../scss/media/_tablet.scss */
      .flow-item .circle-braid:before {
        display: none; }

  /* line 208, ../scss/media/_tablet.scss */
  .flow-content {
    padding: 10px 0 0; }

  /* line 212, ../scss/media/_tablet.scss */
  .faq-question {
    padding: 0 10px 0 60px; }

  /* line 218, ../scss/media/_tablet.scss */
  .input-field .input-container,
  .input-field label {
    width: 100%;
    padding: 5px 0;
    margin: 0; }

  /* line 226, ../scss/media/_tablet.scss */
  .company-item {
    padding: 10px 0; }

  /* line 230, ../scss/media/_tablet.scss */
  .company-label,
  .company-desc {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    float: none; }

  /* line 238, ../scss/media/_tablet.scss */
  .company-label {
    font-weight: 600; }

  /* line 242, ../scss/media/_tablet.scss */
  #map-basic, #map-street {
    width: 100%;
    float: none; } }
@media only screen and (max-width: 568px) {
  /* line 2, ../scss/media/_mobile.scss */
  #main-banner {
    padding: 30px 0; }

  /* line 8, ../scss/media/_mobile.scss */
  .banner-content h2 {
    font-size: 24px; }
  /* line 12, ../scss/media/_mobile.scss */
  .banner-content h1 {
    font-size: 37px; }

  /* line 19, ../scss/media/_mobile.scss */
  .checked-list li {
    font-size: 18px;
    padding: 15px 15px 15px 55px; }

  /* line 25, ../scss/media/_mobile.scss */
  .reason-desc,
  .reason-image {
    width: 100%; } }
