@media only screen and (max-width: 568px) {
	#main-banner{
		padding:30px 0;
	}

	.banner-content{

		h2{
			font-size:24px;
		}

		h1{
			font-size:37px;
		}
	}

	.checked-list{

		li{
			font-size:18px;
			padding:15px 15px 15px 55px;
		}
	}

	.reason-desc,
	.reason-image{
		width: 100%;
	}

}

@media only screen and (max-width: 319px) {
	
}