@media only screen and (max-width: 980px) {
	.site-header{
		height: 50px;
		position:relative;

		.container{
			position: fixed;
			z-index: 998;
			height: 100%;
			width: 270px;
			top:0;
			left:-270px;
			background:#fff;
			border-right:2px solid $sub-color;
			text-align: center;
			@include single-transition(all,0.3s,linear);

			
		}

		&.active-menu .container{
			left:0;
		}
	}

	.mobile-trigger{
		width: 50px;
		height: 50px;
		left:0;
		top:0;
		position:absolute;
		background:$sub-color;
		@include single-transition(all,0.3s,linear);

		.active-menu &{
			left:270px;
		}

		.burger{
			position:absolute;
			width: 80%;
			height: 30px;
			top:50%;
			left:10%;
			margin-top:-15px;
		}

		span{
			display: block;
			position: absolute;
			height: 6px;
			width: 100%;
			background: #fff;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

		span:nth-child(1) {
		  top: 0px;
		}

		span:nth-child(2) {
		  top: 12px;
		}

		span:nth-child(3) {
		  top: 24px;
		}

		.active-menu & span:nth-child(1) {
		  top: 12px;
		  -webkit-transform: rotate(135deg);
		  -moz-transform: rotate(135deg);
		  -o-transform: rotate(135deg);
		  transform: rotate(135deg);
		}

		.active-menu & span:nth-child(2) {
		  opacity: 0;
		  left: -60px;
		}

		.active-menu & span:nth-child(3) {
		  top: 12px;
		  -webkit-transform: rotate(-135deg);
		  -moz-transform: rotate(-135deg);
		  -o-transform: rotate(-135deg);
		  transform: rotate(-135deg);
		}
	}

	.header-branding{
		max-width: none;
		display: inline-block;
		float:none;
	}

	.header-nav{
		float:none;
	}

	.btn-mail{
		width: 100%;
		float:none;
	}

	.site-navigation{
		margin-top:20px;

		.nav{
			
		}

		li{
			width: 100%;
			float:none;

			&:before,
			&:after{
				display: none;
			}
		}

		a{
			background:$sub-color;
			color:#fff;
			display: block;
			width: 100%;
			border-bottom:1px solid #fff;

			&.active{
				background:#000;
			}
		}
	}

	.span-4{
		width: 100%;
		max-width: 568px;
		float:none;
		margin:0 auto;
	}

	.service-item{
		margin:0 0 20px;
	}

	.reason-item{

		.circle-braid{
			margin:15px;
		}	
	}

	.reason-content,
	.reverse .reason-content{
		padding:0;
	}

	.reason-desc{
		padding-right:10px;
	}

	.reverse .reason-desc{
		padding-left:10px;
	}

	.staff-item{
		margin:0 auto;
		max-width: 305px;
	}

	.banner-item{
		margin:0 0 20px;

		img{
			width: auto;
			margin:0 auto;
		}
	}

	#main-banner{
		padding:70px 0;
	}

	.flow-item{
		padding:0 0 30px;

		.circle-braid{
			float:none;
			margin:0 auto;

			&:before{
				display: none;
			}
		}
	}

	.flow-content{
		padding:10px 0 0;
	}

	.faq-question{
		padding:0 10px 0 60px;
	}

	.input-field{

		.input-container,
		label{
			width: 100%;
			padding:5px 0;
			margin:0;
		}
	}

	.company-item{
		padding:10px 0;
	}

	.company-label,
	.company-desc{
		width:100%;
		margin:0;
		padding:5px 0;
		float:none;
	}

	.company-label{
		font-weight: 600;
	}

	#map-basic, #map-street{
		width: 100%;
		float:none;
	}
}