#main-banner{
	background-image:image-url('bg-banner.png');
	padding:75px 0 140px;
	text-align:center;


}

.banner-content{
	h2{
		font-weight: 700;
		text-shadow: 0px 0px 17px rgba(255, 255, 255, 1);
	}

	h1{
		position:relative;
		z-index: 1;
		font-size:47px;
		color:#fff;
		max-width: 666px;
		margin:0 auto;
		font-weight: 700;
		padding:12px 10px;
		
		&:before{
			@extend .full-bg;
			background:#000;
			z-index: -1;
			@include opacity(0.75);
		}
	}
}

.checked-list{
	list-style:none;
	padding:0;
	margin:25px 0 0;

	li{
		display: block;
		margin:0 auto 10px;
		max-width: 500px;
		width: 100%;
		position:relative;
		font-size:24px;
		color:#fff;
		padding:12px 30px 12px 60px;
		font-weight: 700;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

		&:before{
			@extend .full-bg;
			background:$sub-color;
			z-index: -1;
			@include opacity(0.75);
		}

		&:after{
			@include icon-sprite('check');
			left:4px;
		}
	}
}

#map-basic,
#map-street{
	display: block;
	height: 350px;
	width:50%;
	float:left;
}

// Concept

#concept{
	padding:80px 0 150px;
}


// Service

#service{
	background-image:image-url('house.png');

	&:before{
		@extend .full-bg;
		background:image-url('bg-squared.png');
	}

	.service-title{
		color:$sub-color;
		margin:0 0 15px;
	}
}

.parallax{
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;

	.container{
		position: relative;
		z-index: 5;
	}
}

.service-item{
	border:1px solid $sub-color;
	background:#fff;
	min-height:752px;
	padding:30px 14px 5px;
}

.service-icon{
	background:$sub-color;
	width:139px;
	height:139px;
	margin:0 auto 25px;
	position:relative;

	@include border-radius(50%);
}


// Reason

#reason{
	padding:120px 0 50px;
}



.reason-item{
	padding:40px 0 30px;

	&:last-child{
		padding-bottom:0;
	}

	.circle-braid{
		float:left;
		margin-right:-100px;
		background:none;
	}
}

.reason-content{
	float:right;
	padding-top:10px;
	padding-left:125px;
	width:100%;
}

.reason-desc{
	width:54.491018%;
	float:left;
	padding-right:35px;
}

.reason-image{
	width:45.508982%;
	float:right;
}

.reverse{

	.circle-braid{
		float:right;
		margin:0 0 0 -100px;
	}

	.reason-content{
		padding:10px 125px 0 0;
		float:left;
	}

	.reason-desc{
		float:right;
		padding:0 0 0 35px;
	}
}

// Staff

.staff-items{
	padding:30px 0 0;
}

.staff-item{
	text-align:center;
	color:#888;
	font-family:$raleway-reg;

	img{
		display: block;
		margin:0 0 15px;
	}
}

.staff-title{
	margin:0;
	

	&:after{
		height: 1px;
		margin:7px auto;
		display: block;
		content:"";
		max-width: 235px;
		width: 100%;
		background:$sub-color;
	}
}

// Customer

#customer{
	border-top:2px solid $sub-color;
	border-bottom:2px solid $sub-color;
	background-image:image-url('bg-city.png');

	&:before{
		@extend .full-bg;
		background:#fff;
		@include opacity(0.8);
	}
}


.customer-item{
	padding:30px 25px 10px;
	background:#fff;
	background:rgba(255,255,255,0.8);
	margin:20px 0 0;
}

.customer-title{
	margin:0 0 25px;
}

// Flow

.flow-items{
	padding:40px 0 0;
}

.flow-item{
	padding:0 0 125px;
	overflow:hidden;

	h3{
		margin:0 0 20px;
	}

	.circle-braid{
		float:left;
		width: 125px;
		height: 125px;
		margin-right:-125px;

		&:before{
			content:"";
			display: block;
			background:$sub-color;
			width: 1px;
			left:50%;
			margin:10px 0 0 -0.5px;
			position:absolute;
			height: 999%;
			z-index: -1;
		}
	}

	&:last-child{

		.circle-braid:before{
			display: none;
		}
	}

	.braid-content{
		width: 112px;
		height: 112px;
		margin:-56px 0 0 -56px;
		text-align: center;
		display: table;
		line-height: 1;

		.bg,
		strong{
			display: block;
		}

		.big{
			font-family:$raleway-reg;
			font-size:30px;	
		}

		strong{
			font-family:$raleway-bold;
			font-weight: 400;
			font-size:48px;
		}
	}

	
}

.flow-content{
	padding:12px 0 0 150px;
}

.braid-flow{
	height:100%;
	display:table-cell;
	vertical-align:middle;
	width:100%;
}

// FAQ

#faq{
	background-image:image-url('bg-skybuild.png');

	&:before{
		@extend .full-bg;
		background:#fff;
		@include opacity(0.8);
	}
}

.faq-items{
	padding:40px 0 0;
}

.faq-question,
.faq-answer{
	margin:0 0 10px;
	position:relative;

	&:before{
		@extend .full-bg;
		background:#ff92c0;
		@include opacity(0.8);
		z-index: -1;
	}
	
}

.faq-question{
	position:relative;
	padding:0 15px 0 65px;
	cursor:pointer;

	p{
		font-size:16px;
		color:#fff;
		padding:11px;
		margin:0;
	}


}

.plus{
	display: block;
	position:absolute;
	background:$sub-color;
	left:0;
	height: 100%;
	width: 50px;
	top:0;

	&:before, &:after {
	  position: absolute;
	  background: #fff;
	  content:"";
	  top:50%;
	  left:50%;

	  @include transform(rotate(0deg));
	  @include single-transition(300ms, all, linear);
	}

	&:before {
	  height: 4px;
	  width:18px;
	  margin:-2px 0 0 -9px;
	}

	&:after {
	  width: 4px;
	  height: 18px;
	  margin:-9px 0 0 -2px;
	}

	.toggle-active &{
		&:after {
	    	@include transform(rotate(90deg));
	    }
	}
}

.faq-answer{
	padding:20px;
	color:#000;
	min-height:178px;
	display:none;

	.toggle-active &{

	}
}

#contact{
	background:#f3f3f3;
	border-top:2px solid $sub-color;
	border-bottom:2px solid $sub-color;
}

// Company

.company-items{
	margin:100px 0 75px;
}

.company-item{
	border-top:1px solid #ccc;

	&:last-child{
		border-bottom:1px solid #ccc;
	}

	&:after{
		@extend .clear;
	}
}

.company-label,
.company-desc{
	float:left;
	padding:18px 0;
}

.company-label{
	width:135px;
	margin-right:-135px;
	padding-left:25px;
}

.company-desc{
	padding-left:135px;
	width:100%;
}

.map-container{
	margin:0 0 30px;
}

.banner-item{
	
	img{
		display: block;
		width: 100%;
	}
}

.banner-title{
	text-align:center;
	font-family:$raleway-reg;
	padding:15px 0 0;
	margin:0;

	&:after{
		height: 1px;
		background:#ccc;
		width: 100%;
		content:"";
		display: block;
		max-width: 220px;
		margin:3px auto;
	}
}

.wpb_gmaps_widget .wpb_map_wraper,
.sp_maps_container .google-maps-basic,
.sp_maps_container .google-maps-streetview{
  pointer-events: none;
}
.wpb_gmaps_widget,
.sp_maps_container{
  cursor: pointer;
}

.wpb_gmaps_widget.active-map,
.sp_maps_container.active-map{
  cursor: auto;
}

.wpb_gmaps_widget.active-map .wpb_map_wraper,
.sp_maps_container.active-map .google-maps-basic,
.sp_maps_container.active-map .google-maps-streetview{
  pointer-events:auto;
}