button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;

	 @include border-radius(0);

	&:focus,
	&:active {
		
	}
}

input[type="submit"]{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;

	 @include border-radius(0);
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="submit"],
select{
	height:50px;
	background:#fff;
	border:1px solid #888;
	padding:0 10px;
	width:100%;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
}

.search_wrapper{
	input[type="search"] {
		margin-bottom:15px;
	}
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-moz-appearance: none;
	-webkit-appearance: none;
}

textarea,
.privacy-container {
	background:#fff;
	border:1px solid #555;
	min-height:160px;
	width: 100%;
	padding:10px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
}


label{
	font-size:16px;
	margin-bottom:13px;
	display:block;
}

.input-field{
	display: block;
	padding:5px 0;

	&:after{
		display: block;
		content:"";
		clear:both;
	}

	label{
		margin-right:-180px;
		width: 180px;
		float:left;
		padding:15px 25px 0 0;
		line-height: 1.5;

		span{
			color:$sub-color;
		}
	}

	.input-container{
		width: 100%;
		float:right;
		padding-left:180px;
	}

	
}


.input-privacy{
	max-width: 780px;
	margin:45px auto 0;
	text-align: center;
}

.privacy-container{
	text-align:left;
	min-height:0;
	height:130px;
	overflow:auto;
}

.input-checkbox{
	margin:20px 0 0;

	input[type="checkbox"],
	label{
		display: inline-block;
		vertical-align: middle;
	}

	label{
		margin:0 0 5px;
	}

	input[type="checkbox"]{
		margin-right:20px;
		width: 18px;
		height: 18px;
	}
}

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    overflow: hidden;
    display: block;
    height: 56px;
    width: 214px;
    border: none;
    margin: 45px auto 0;
    text-decoration: none ;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $sub-color;
    @include single-transition(all,0.2s, linear);

    &:hover{
    	background:$default-color;
    }
}