.site-header{
	@include box-shadow(0px 1px 5px 0px rgba(0, 0, 0, 0.2));
	width: 100%;
	position:relative;
	z-index: 999;
	@include single-transition(all,0.3s,linear);
	
	&.active-fixed{
		position:fixed;
		left:0;
		top:0;
		
		background:#fff;
	}
}

.header-branding{
	max-width:230px;
	float:left;
}

.header-nav{
	float:right;
	padding-top:20px;
}

.site-logo{
	margin:0;
	line-height:1;
	
	img,
	a{
		display: block;
	}

	a{
		padding:35px 0 10px;
	}
}

.btn-mail{
	display: block;
	float:right;
	clear:both;
	background:$sub-color;
	color:#fff;
	padding:10px 28px 10px 12px;
	line-height:1;
	position:relative;
	margin:0 0 4px;

	&:before{
		@include use-sprite('mail');
		content:"";
		margin-right:12px;
		vertical-align: middle;
	}
	
	@include box-shadow(1px 1px 1px 1px rgba(123, 0, 70, 0.75));

	&:hover{
		color:#fff;
		background:$default-color;
		@include box-shadow(1px 1px 1px 1px rgba(85, 85, 85, 0.75));
	}
}


