.icon-build{
	@include icon-sprite('build',on,on);
}

.icon-city{
	@include icon-sprite('city',on,on);
}

.icon-apart{
	@include icon-sprite('apartment',on,on);
}

.circle-braid{
	width: 100px;
	height: 100px;
	border:1px dashed $sub-color;
	position:relative;
	color:#fff;
	background:#fff;

	@include border-radius(50%);
}

.braid-content{
	display: block;
	width:90px;
	height:90px;
	background:$sub-color;
	position:absolute;
	left:50%;
	top:50%;
	margin:-45px 0 0 -45px;


	@include border-radius(50%);
}

.braid-label{
	line-height:0;
	display:block;
	font-size:60px;
	width:100%;
	text-align:center;
	position:relative;
	top:50%;
	margin-top:-5px;
	font-family:$raleway-reg;
}
