.container{
	max-width: 980px;
	width:100%;
	margin:0 auto;
	padding:0 10px;
}

.section-wrapper{
	padding:100px 0; 
}

.section-dark{
	background-color:#000;
}

.section-gray{
	background:#f3f3f3;
	border-bottom:1px solid #bbb;
}

.row{
	margin:0 -10px;
}

[class*='span-']{
	padding:0 10px;
	float:left;
	display: block;
}

.span-1 {
    width:8.33333333333%;
}
.span-2 {
    width:16.6666666667%;
}
.span-3 {
    width:25.0%;
}
.span-4 {
    width:33.3333333333%;
}
.span-5 {
    width:41.6666666667%;
}
.span-6 {
    width:50.0%;
}
.span-7 {
    width:58.3333333333%;
}
.span-8 {
    width:66.6666666667%;
}
.span-9 {
    width:75.0%;
}
.span-10 {
    width:83.3333333333%;
}
.span-11 {
    width:91.6666666667%;
}
.span-12{
	float:none;
	width:100%;
}