
.nav{
	@extend .list-menu;

	a{
		color:$default-color;
		padding:14px 11px;
		display: inline-block;

		&:hover,
		&.active{
			color:$sub-color;
		}
	}

	li{

		&:before{
			content:"/";
			vertical-align: middle;
			display: inline-block;
		}

		&:last-child{

			&:after{
				content:"/";
			}
		}
	}
}

.site-footer{

	.nav{
		padding-left:1px;

		li{
			padding:0 9px;
			border-left:1px solid #555;
			border-right:1px solid #555;
			margin:0 0 13px -1px;
			font-size:12px;
			
			&:last-child{
				border-right:none;
			}

			&:before,
			&:after{
				display: none !important;
			}

		}
	}
}

.copyright{
	margin:60px 0 0;
	color:#888;
	background:#000;
	text-align:center;
	font-family:$raleway-reg;
	padding:23px 10px;
}