h1,h2,h3,h4,h5,h6{
	line-height:1.15;
	margin:0 0 30px;
	font-weight:500;
}

.sub{
	color:$sub-color;
}

h2{
	font-size:30px;
}

h3{
	font-size:24px;
	margin:0 0 25px;
}

h4{
	font-size:18px;
}

h5{
	font-size:16px;
}

h6{
	font-size:12px;
}

p{
	margin:0 0 25px;
	line-height:$default-line;
}

.section-title{
	text-align:center;
	margin:0 0 40px;

	h2,h3,h6{
		font-weight: 400;
	}

	h3{
		margin:0 0 10px;
	}

	h2{
		margin:0 0 10px;
	}

	h6{
		font-family:$raleway;
		color:$sub-color;
		margin:0 0 7px;
		letter-spacing: 2px;
	}

	.section-dark &{
		color:#fff;
	}

	&.style2{
		font-family:$raleway-reg;

		h2{
			font-size:36px;
		}
	}
}

.title-border{
	overflow:hidden;
	max-width: 522px;
	margin:0 auto;
	display:block;
}

.circle{
	width:5px;
	height: 5px;
	background:$sub-color;
	position:relative;
	margin:0 auto;
	display:block;

	@include border-radius(50%);

	&:before,
	&:after{
		content:"";
		display: block;
		position:absolute;
		width: 500px;
		height: 1px;
		top:50%;
		background:#ccc;
	}
	
	&:before{
		left:-100%;
		margin-left:15px;
	}

	&:after{
		right:-100%;
		margin-right:15px;
	}

}

