@font-face {
    font-family: 'ralewaymedium';
    src: font-url('raleway-medium-webfont.eot');
    src: font-url('raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('raleway-medium-webfont.woff2') format('woff2'),
         font-url('raleway-medium-webfont.woff') format('woff'),
         font-url('raleway-medium-webfont.ttf') format('truetype'),
         font-url('raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: font-url('raleway-bold-webfont.eot');
    src: font-url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('raleway-bold-webfont.woff2') format('woff2'),
         font-url('raleway-bold-webfont.woff') format('woff'),
         font-url('raleway-bold-webfont.ttf') format('truetype'),
         font-url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: font-url('raleway-regular-webfont.eot');
    src: font-url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('raleway-regular-webfont.woff2') format('woff2'),
         font-url('raleway-regular-webfont.woff') format('woff'),
         font-url('raleway-regular-webfont.ttf') format('truetype'),
         font-url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'ralewayregular';
//     src: font-url('raleway-regular.eot');
//     src: font-url('raleway-regular.eot?#iefix') format('embedded-opentype'),
//          font-url('raleway-regular.woff2') format('woff2'),
//          font-url('raleway-regular.woff') format('woff'),
//          font-url('raleway-regular.ttf') format('truetype'),
//          font-url('raleway-regular.svg#ralewayregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }